.header-text {
  font-size: xx-large;
  padding: 10px;
}

input::placeholder {
  color: rgb(106, 106, 106);
  text-align: center;
}

input {
  text-align: center;
  @apply rounded text-black mr-1.5
}

.getForecastButton {
  @apply bg-green-500 hover:bg-green-700 text-white font-bold my-4 py-2 px-4 rounded;
}

.weatherDescription {
  @apply font-semibold py-1 text-lg
}

.App {
  text-align: center;
  color: rgb(236, 236, 236);
}

.hourlyForecastRow {
  @apply inline-block bg-green-200  bg-opacity-20 m-1 p-2 rounded text-lg
}