.App {
  @apply text-center text-white
}

.header-text {
  @apply text-3xl p-4;
}

input::placeholder {
  @apply text-gray-400 text-center
}

input {
  @apply rounded text-black mb-2 text-center;
}

.metricLabel {
  @apply text-sm font-medium align-top
}

.getForecastButton {
  @apply bg-green-500 hover:bg-green-700 text-white font-bold my-4 py-2 px-4 rounded;
}

.toggleButton::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  background-color: white;
  border: 1px solid #CCC;
  border-radius: 50%;
  height: 1.25rem; /* 5px */
  width: 1.25rem; /* 5px */
  transition: all 0.3s;
}

.toggleButton {
  @apply w-11 h-6 bg-gray-200 dark:border-gray-600
}

.weatherDescription {
  @apply font-semibold py-1 text-lg mt-2;
}

.hourlyForecastRow {
  @apply inline-block bg-green-200 bg-opacity-20 m-1 p-2 rounded text-lg;
  width: 100%;
  white-space: nowrap;
}

.hourly-forecast-container {
  @apply flex justify-center gap-6;
}

.hourly-forecast-columns {
  @apply flex;
}

.hourly-forecast-column {
  @apply flex-1 p-5;
}

