.header-text {
  color: white;
  font-size: xx-large;
}

input::placeholder {
  color: rgb(106, 106, 106);
  text-align: center;
}

input {
  color: black;
  text-align: center;
  margin-right: 10px
}

.getForecastButton {
  @apply bg-green-500 hover:bg-green-700 text-white font-bold my-4 py-2 px-4 rounded;
}

.App {
  text-align: center;
  align-content: center;
  color: rgb(236, 236, 236);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
